body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	/*background-image: url("../img/pic2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.9;*/
}

#mainWrapper {
	width: 50%;
	height:500px;
	background-image: url("../img/pic5.jpg");
	margin: auto;
	margin-top: 10%;
	padding: 0px 20px 5px 20px;s
    border-radius: 10px

}

#currentWrapper {
	width: 100%;
	height: 320px;
}

#otherWrapper {
	width: 100%;
	height: 180px;
	/*background-color: blue;*/
	float: bottom;

}

#today {
	width: 30%;
	height: 93%;
	background-color: #000000;
	opacity: 0.4;
	padding: 10px 10px 10px 10px;
	border-top: 3px solid #FFFFFF;
	font-weight: 400;
	line-height: 50px;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
}

#location {
	font-size: 50px;
}

#area1 {
	width: 25%;
	height: 100%;
	float: left;
	background-color: black;
	opacity: 0.6;
	border-top: 3px solid #A58078;

}

#area2 {
	width: 25%;
	height: 100%;
	float: left;
	background-color: black;
	opacity: 0.4;
	border-top: 3px solid #84A227;
}

#area3 {
	width: 25%;
	height: 100%;
	float: left;
	background-color: black;
	opacity: 0.6;
	border-top: 3px solid #A58078;
}

#area4 {
	width: 25%;
	height: 100%;
	float: left;
	background-color: black;
	opacity: 0.4;
	border-top: 3px solid #84A227;
}

.others {
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	/*padding: 10px 10px 10px 10px;*/
}